<div class="faqs">
    <h3>
        Who is “Fossil Free Research” and who is behind this letter?
    </h3>
    <p>The letter is endorsed by a wide range of academics, climate experts, and university members calling on US and UK
        universities to urgently institute a ban on fossil fuel industry funding for climate change-related research. It was
        drafted by student coordinators of the new Fossil Free Research campaign, who are also organizers with Cambridge Climate
        Justice and Fossil Fuel Divest Harvard, in collaboration with leading academics and experts focused on climate change
        issues.
    </p>
    <h3>
        <a></a>Why does the letter only address the leadership of US and UK universities?
    </h3>
    <p>We want to see higher education institutions worldwide adopt this ban. We’re starting with US and UK universities
        because, as some of the most well-resourced and prestigious higher education institutions in the world, in two of the
        countries most responsible for historic global emissions, they have a responsibility to be the first movers in this
        effort. So many universities in these countries have also already committed to fossil fuel divestment or climate action,
        making their extensive ongoing research ties with the fossil fuel industry all the more indefensible. Enacting a fossil
        fuel funding ban for climate change, environmental, and energy policy-related research is an intuitive and urgently
        needed next step for these universities to become true climate leaders.
    </p>
    <h3>
        <a></a>What does the proposed ban include?
    </h3>
    <p>As with divestment, it is clear that this is a policy that will be applied differently in different contexts, and so
        institutions may want to formulate the ban in slightly different ways. However, at a minimum, such a ban must include
        the Carbon Underground 200, a list of the world’s top 100 coal and top 100 oil and gas publicly traded companies and
        their subsidiaries. It must also include funding from any company engaged in building new fossil fuel infrastructure or
        exploring for new reserves, as this blatantly ignores the International Energy Agency’s finding that investment in new
        fossil fuel supply projects must cease immediately if the world is to limit planetary heating to 1.5 degrees Celsius and
        avoid runaway climate breakdown.
    </p>
    <h3>
        <a></a>Why do we need a ban on fossil fuel-funded climate change-related research at universities?
    </h3>
    <ul>
        <li>Accepting funding for research meant to address the climate crisis from the industry most responsible for causing
            and perpetuating the climate emergency severely undermines the academic integrity and public credibility of crucial
            climate-related research.
        </li>
        <li>Reliance on fossil fuel industry funding for climate change-related research creates an unacceptable conflict of
            interest between the core business interests of the research funder and the purpose of the research itself. There is
            clear evidence to suggest that this skews the shape and outcomes of research in directions favorable to the fossil fuel
            industry. As such, this funding unacceptably infringes on researchers’ academic freedom, constraining their ability to
            conduct truly free, independent research and speak out against the fossil fuel industry’s record of environmental
            destruction.
        </li>
        <li>Publicly partnering with the fossil fuel companies responsible for driving the climate emergency fundamentally
            undermines universities’ stated commitments to tackling the climate crisis. For many universities, these commitments
            include pledges to divest their endowments from these very same companies on the basis that their business models are
            fundamentally incompatible with efforts to preserve a safe and liveable future.
        </li>
        <li>Public research partnerships between globally respected universities and fossil fuel companies play a key role in
            greenwashing these companies’ reputations. This helps to bolster the industry’s false claims that it is at the forefront
            of the green transition when it continues to invest the vast majority of its capital into fossil fuel exploration and
            extraction, in clear defiance of the scientific evidence. Indeed, the industry invests only a tiny fraction of its
            overall budget into renewable energy and low-carbon solutions, with many of these alleged solutions failing to
            meaningfully help curb emissions. By accepting fossil fuel companies as legitimate partners for sustainability research,
            universities signal to the world that these companies are actually committed to science-led climate action and deserve a
            seat at the table in deciding the future of our planet.</li>
        <li>Finally, universities that maintain close ties to the fossil fuel industry incur a substantial reputational risk
            through this clear violation of their core social and academic principles. This undermines public faith in academic
            institutions to speak authoritatively on this most pressing crisis at a time when the contributions of independent
            scientists are needed more than ever.</li>
    </ul>
    <h3>
        <a></a>Who supports this ban?
    </h3>
    <p>This ban is supported by hundreds of leading academics, university affiliates, and experts from a broad range of
        disciplines in addition to climate, environmental, and energy sciences, economics, and policy. This list includes lead
        IPCC assessment authors, a Nobel Peace Prize recipient, the former President of Ireland, world-renowned economists, the
        former Archbishop of Canterbury, and university chancellors. This letter is also supported by numerous university fossil
        fuel divestment campaigns including Cambridge Climate Justice, Fossil Fuel Divest Harvard, and Sunrise GW.
    </p>
    <h3>
        <a></a>What about alternative research funding? Where will the money for this research come from if not from fossil fuel
            companies?
    </h3>
    <p>It is imperative that rich US and UK universities and governments lead the way in ensuring that critical climate
        change-related research receives the funding it requires. Many universities have large, well-established fundraising
        departments which have demonstrated a capacity to raise phenomenal sums. Indeed, philanthropic giving to US universities
        rose by 6.9% in 2021 alone, topping $52 billion dollars. Additionally, it is the duty of governments to step in to
        provide funding so clearly in the public good when and where it is needed.
    </p>
    <p>Moreover, it is not clear how much funding for climate change-related research comes from the fossil fuel industry to
        US and UK universities for climate change-related research. That’s because of a strong lack of transparency and
        disclosure on these universities’ behalf, which raises serious doubts about these universities’ commitments to being
        responsible climate actors.
    </p>
    <p>As we have already detailed, serious issues arise with any amount of fossil fuel industry funding for climate
        change-related research. By its very nature, such funding incurs the unjustifiably problematic risk of university
        climate change-related research being skewed in the direction of fossil fuel companies’ interests as well as being used
        to support their greenwashing and continued efforts to delay and control the direction of climate action, which has
        deadly consequences for our community and our planet. It must therefore be an urgent priority for governments and
        universities to pursue alternative funding pathways to ensure critical climate-related research can be conducted
        untainted by the biasing, greenwashing effects of fossil fuel industry funding.
    </p>
    <h3>
        <a></a>Can’t fossil fuel industry funding end up funding good or important climate research at universities, even if the
            source is undesirable?
    </h3>
    <p>There is clear evidence to suggest that accepting fossil fuel industry funding for any climate change, environmental,
        and energy policy research creates significant conflicts of interest and skews research agendas and outcomes in
        directions favorable to the fossil fuel industry. This severely undermines the potential positive impact of such
        research.
    </p>
    <p>Just as importantly, accepting this funding lends much-needed scientific legitimacy to companies who continue to
        fight against a rapid and just renewable energy transition. Note that no major fossil fuel company has yet aligned its
        business model with the goals of the Paris Agreement. In this context, affiliations with prestigious university research
        allow these companies to continue falsely representing themselves as leaders in a green transition they are actively
        blocking. Even in cases where climate change-related research funded by fossil fuel companies has not been distorted by
        this funding source, the appearance of compromised academic integrity will be there regardless and impossible to wash
        away just because disclosure of funding is made.</p>
    <h3>
        <a></a>What precedents exist for this ban?
    </h3>
    <p>There are numerous examples of institutions refusing money from certain industries on both scientific and ethical
        grounds. Since the late 1990s, tobacco companies have increasingly been barred from providing funding for clinical
        research at many public health institutions (notably including the Harvard T. H. Chan School of Public Health, Cancer
        Research UK, and the British Heart Foundation) due to these companies’ extensive record of spreading misinformation
        about the public health harms of their products. This precedent is crucial given that fossil fuel industry funding of
        climate-related research presents a similar conflict of interest, with fossil fuel companies employing disinformation
        tactics directly from the tobacco industry’s playbook.</p>
    <p>Over the last decade, we have also seen an overwhelming trend among higher education institutions, non-profit
        organizations, pension funds, and other major asset managers of divesting from the fossil fuel industry precisely
        because all of them recognize the industry’s behavior and core business model as being morally reprehensible and at odds
        with their core values. More recently, prestigious cultural institutions have reached a similar conclusion and begun to
        sever ties with the fossil fuel industry. For instance, the National Portrait Gallery recently decided to end its
        30-year partnership with BP over the company’s appalling environmental record, and there is a major campaign for the
        Science Museum to do the same.
    </p>
    <h3>
        <a></a>Why are you making this call amid the Russian invasion in Ukraine and the ripple effects on energy
                        supply?
    </h3>
    <p>The call to reject funding from fossil fuel companies for climate change-related research is particularly salient in
        the wake of the latest IPCC report and the Russian war on Ukraine, which has made abundantly clear the need for vast
        investment in and development of renewable energy infrastructure for the well-being and survival of our communities and
        future generations, and global security. Meanwhile, fossil fuel companies are cashing in on soaring energy prices to
        secure record profits and continue to invest tiny proportions of their overall capital budgets on renewables. As these
        companies exploit the humanitarian crisis for their own gain and work to sustain their deadly core business model, it is
        obvious that we simply cannot trust these companies with the future of our planet. &nbsp;Shell’s decision to purchase a
        tankard of Russian oil in the midst of this crisis represents yet another example of the industry’s commitment to
        profit-making at the expense of all standards of basic morality and human decency.</p>
</div>