<div class="faqs">
    <div class="accordion" id="faqs__accordion">
        {% for faq in home.faqs %}
            
            <div class="accordion-item">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{loop.index}}"
                        aria-expanded="true"
                        aria-controls="collapse{{loop.index}}">
                        {{faq.question}}
                    </button>
                <div
                    id="collapse{{loop.index}}"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading{{loop.index}}"
                    data-bs-parent="#faqs__accordion">
                    <div class="accordion-body">
                        <p>{{faq.answer | safe}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>