<footer class="footer" role="contentinfo" class="section-dark-blue-background">
    <div class="container offset-md-2 col-md-8">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2>Contact Us</h2>
                <p>For any press and general inquiries, please contact us at
                    <a href="mailto:fossilfreeresearch@gmail.com">fossilfreeresearch@gmail.com</a>. To stay updated on our efforts, follow
                    <a href="https://www.twitter.com/FosFreeResearch">@FosFreeResearch</a>
                    on Twitter.
                </p>
            </div>
            <div class="col-md-6">
                {% include "twitterfeed.njk" %}
            </div>
        </div>
    </div>
</footer>