<div class="letter-text">
    <p>
        Dear University Presidents and Vice-Chancellors,
        <br />
        <br />
        We are writing as academics and experts who are deeply concerned by
        universities’ collaboration with the fossil fuel industry. Universities
        across the United Kingdom and the United States currently accept
        substantial funding from fossil fuel companies for research aimed at
        solving the very problems this industry causes and continues to
        exacerbate. We believe this funding represents an inherent conflict of
        interest, is antithetical to universities’ core academic and social
        values, and supports industry greenwashing. Thus, it compromises
        universities’ basic institutional integrity, academic freedom, and their
        ability to address the climate emergency.
        <br />
        <br />
        <strong class="ul"
            >For these reasons, we are calling on U.K. and U.S. universities to
            institute a ban on accepting fossil fuel industry funding for
            climate change, environmental, and energy policy research.
        </strong>
        <br />
        <br />
        <strong
            >Accepting fossil fuel industry funding for research meant to
            address the climate crisis undermines the academic integrity of
            climate-related research.</strong
        >
        To be clear, our concern is not with the integrity of individual
        academics. Rather, it is with the systemic issue posed by the context in
        which academics must work, one where fossil fuel industry funding can
        taint critical climate-related research. There is a clear parallel
        between accepting fossil fuel industry funding for climate change
        research and accepting tobacco industry funding for public health
        research. Already,
        <a
            href="https://www.nytimes.com/2008/02/04/education/04tobacco.html"
            target="_blank"
            >numerous</a
        >
        <a
            target="_blank"
            href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1172051/"
            >public health</a
        >
        and
        <a
            href="https://www.cancerresearchuk.org/funding-for-researchers/applying-for-funding/policies-that-affect-your-grant/code-of-practice-on-tobacco-industry-funding-to-universities"
            target="_blank"
            >research institutions</a
        >
        reject tobacco money due to the industry’s extensive record of
        <a
            href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3490543/"
            target="_blank"
            >spreading disinformation</a
        >
        around the public health consequences of its products. Today, the fossil
        fuel industry has
        <a
            href="https://www.theguardian.com/environment/climate-consensus-97-per-cent/2015/mar/02/fossil-fuel-industry-caught-taking-a-page-out-of-the-tobacco-playbook"
            target="_blank"
            >employed disinformation tactics</a
        >
        from the same playbook, working to
        <a
            href="https://www.tandfonline.com/doi/full/10.1080/09644016.2020.1863703"
            target="_blank"
            >sow doubt</a
        >
        about climate science,
        <a
            href="https://www.theguardian.com/commentisfree/2020/oct/16/exxonmobil-misled-the-public-about-the-climate-crisis-now-theyre-trying-to-silence-critics"
            target="_blank"
            >silence</a
        >
        industry critics, and
        <a
            target="_blank"
            href="https://unearthed.greenpeace.org/2021/06/30/exxon-climate-change-undercover/"
            >stall</a
        >
        climate action. How, then, can universities consider these companies
        appropriate partners for climate-related research?
        <br />
        <br />
        <strong
            >Fossil fuel funding for climate-related research creates a conflict
            of interest that compromises researchers’ academic freedom.</strong
        >
        Academics must be free to determine their own research agendas, speak
        their minds, and declare their findings without fear of censorship,
        reprisal, or the withdrawal of funding for future projects. That freedom
        is compromised by reliance on funding from an industry whose core
        business model is
        <a
            href="https://www.bbc.co.uk/news/science-environment-58494391#:~:text=Climate%20change%3A%20Fossil%20fuels%20must%20stay%20underground%2C%20scientists%20say,-By%20Victoria%20Gill&text=Almost%2060%25%20of%20oil%20and,global%20energy%20supply%20and%20demand."
            target="_blank"
            >diametrically opposed</a
        >
        to science-led climate action.
        <a href="https://pubmed.ncbi.nlm.nih.gov/9605902/" target="_blank"
            >Numerous</a
        >
        <a
            href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6187765/"
            target="_blank"
            >studies</a
        >
        also
        <a
            href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1360-0443.1997.tb02863.x#references-section"
            target="_blank"
        >
            demonstrate</a
        >
        <a
            href="https://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.1001578"
            taRget="_blank"
            >that</a
        >
        industry-funded research can yield results that are favorable to
        industry interests, and that common safeguards like public disclosure of
        funding sources are
        <a
            href="https://www.tandfonline.com/doi/full/10.1179/2049396714Y.0000000103"
            target="_blank"
            >often inadequate</a
        >
        to mitigate this skew. We know that many of our colleagues who choose to
        accept fossil fuel funding strive to produce honest and independent
        research, often faced with few alternative funding pathways. However,
        the risk of skewed outcomes is endemic when research funding is
        dominated by companies with agendas that are in conflict with the goals
        of the funded research. Given the
        <a
            href="https://www.bbc.co.uk/news/science-environment-60525591"
            target="_blank"
            >immense stakes</a
        >
        of the climate crisis and the power of university research to shape
        public knowledge and policy around a rapid renewable energy transition,
        this is a risk we simply cannot take.
        <br />
        <br />
        <strong
            >Furthermore, accepting fossil fuel research funding contravenes
            universities’ stated commitments to tackling the climate
            crisis.</strong
        >
        Fossil fuel companies have concealed, trivialized, and neglected the
        science of climate change for decades. Today,
        <a
            href="https://www.iea.org/news/pathway-to-critical-and-formidable-goal-of-net-zero-emissions-by-2050-is-narrow-but-brings-huge-benefits"
            target="_blank"
            >despite warnings</a
        >
        from the world’s top energy organization that “no investment in new
        fossil fuel supply projects” can be made if the world is to limit global
        heating to 1.5°C, major fossil fuel companies continue to plan new
        extraction projects decades into the future and
        <a
            href="https://priceofoil.org/2020/09/23/big-oil-reality-check/"
            target="_blank"
            >fail</a
        >
        to
        <a
            href="https://www.ft.com/content/16091645-98b3-4041-9ca2-053fb60181ba"
            target="_blank"
            >align</a
        >
        with the goals of the international Paris Agreement. Though they present
        themselves as leaders in sustainability, fossil fuel companies’
        investments in oil and gas continue to dwarf their renewable energy
        investments, which represent
        <a
            href="https://www.iea.org/reports/world-energy-investment-2021"
            target="_blank"
            >just a few percent
        </a>
        of their total capital expenditure. Even the investments that they
        present as directed toward climate solutions contribute to projects that
        are
        <a
            href="https://workandclimatechangereport.org/2021/01/15/81-of-carbon-captured-to-date-used-in-enhanced-oil-recovery-according-to-new-report/"
            target="_blank"
            >often</a
        >
        <a
            href="https://www.globalwitness.org/en/campaigns/fossil-gas/shell-hydrogen-true-emissions/"
            target="_blank"
            >far from</a
        >
        sustainable. In short, fossil fuel companies’ claims to be leaders in a
        green transition should
        <a
            href="https://www.theguardian.com/environment/2022/feb/16/oil-firms-climate-claims-are-greenwashing-study-concludes#:~:text=Accusations%20of%20greenwashing%20against%20major,most%20comprehensive%20study%20to%20date"
            target="_blank"
            >not be taken seriously</a
        >. It is clear, therefore, that these companies cannot make for
        effective or good faith partners with universities seeking to pave the
        way for a sustainable future. Collaborating with these companies is
        inimical to academic institutions’ pledges for climate action.
        <br />
        <br />
        <strong>
            University research partnerships with fossil fuel companies play a
            key role in greenwashing these companies’ reputations.
        </strong>
        When universities allow fossil fuel companies to buy and advertise
        connections to university research on key climate and energy issues,
        they inadvertently provide these companies with much-needed scientific
        and cultural legitimacy. This is incredibly valuable to fossil fuel
        companies, as it allows them to report to policymakers, shareholders,
        and the media that they are working with globally respected institutions
        on transition solutions, greenwashing their reputation and cleansing
        their records of climate destruction.
        <br />
        <br />
        <strong>
            Finally, universities that maintain close ties to the fossil fuel
            industry incur a substantial reputational risk.
        </strong>
        We are proud that many universities have publicly committed to tackling
        climate change, notably by divesting their endowments from fossil fuels.
        Yet in allowing fossil fuel companies to fund climate-related research,
        universities violate their own policies and espoused principles, and
        undermine their core social and academic mission. Increasingly, fossil
        fuel industry sponsorship is eroding
        <a
            href="https://www.theguardian.com/culture/2021/nov/19/dozens-of-academics-shun-science-museum-over-fossil-fuel-ties"
            target="_blank"
            >faith</a
        >
        in scientific and cultural institutions’ commitments to climate action,
        <a
            href="https://news.sky.com/story/national-portrait-gallery-ends-30-year-partnership-with-oil-giant-bp-12548870"
            target="_blank"
            >leading</a
        >
        a number of such institutions — including, most recently, the National
        Portrait Gallery in London — to sever ties with the industry. When
        universities have a pivotal role to play in global conversations about
        tackling the climate emergency, they cannot afford to have their voices
        compromised, which is precisely what will happen if they continue to
        make themselves dependent on the industry most responsible for climate
        breakdown.
        <br />
        <br />
        Universities and the research they produce are vital to delivering a
        rapid, just transition away from fossil fuels. However, such efforts are
        undermined by fossil fuel industry funding. Academics should not be
        forced to choose between researching climate solutions and inadvertently
        aiding corporate greenwashing; our universities must provide an
        alternative. Wealthy universities in particular have a duty to lead the
        way in doing so. To all universities, at this moment of extreme crisis,
        we urge you to heed our call and cut damaging research ties with the
        fossil fuel industry.
    </p>
</div>
