<div class="d-flex flex-row justify-content-space-between large-numbers">
    <div class="d-flex flex-column justify-content-center large-number-container">
        <p class="large-number">740+</p>
        <p>signatories</p>
    </div>
    <div class="d-flex flex-column justify-content-center large-number-container">
        <p class="large-number">130+</p>
        <p>institutions</p>
    </div>
</div>