---
title: About
layout: base
permalink: /about/
eleventyNavigation:
  key: About
  title: Mission and Vision
  order: 6
---

<div class="container-fluid d-flex justify-content-center align-items-center hero hero__small">
    <h1 class="text-align-center">About</h1>
</div>
<section class="section-orange-background">
    <div class="container">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center">
            {% set sectionTitle = "Mission" %}
            {% include "title.njk"%}
            <p>Fossil Free Research is an organization that supports students and faculty working to expose and dismantle fossil fuel industry influence on higher education, especially concerning climate-related research, in order to protect the integrity of academia and the policy it informs, enable real climate leadership from the academic institutions producing it, revoke the fossil fuel industry’s social license to operate, and upskill the next generation of climate justice leaders.</p>
            <img src="/assets/images/imperial.png" width="100%" class="mission__image">
        </div>
    </div>
</section>

<section class="section-gray-background">
    <div class="container">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center">
            {% set sectionTitle = "Vision" %}
            {% include "title.njk"%}
            <p>We strive for a world where, free from the stain of fossil fuel industry influence, a more transparent, accessible, and democratic higher education system can unleash its full potential in contributing toward a rapid and socially just global energy transition.</p>
        </div>
    </div>
</section>