---
title: Coalition
layout: base
permalink: /coalition/
eleventyNavigation:
  key: Coalition
  order: 5
---

<div class="container-fluid d-flex justify-content-center align-items-center hero hero__small" style="background-image: url('/assets/images/hero_images/3.png')">
  <h1 class="text-align-center">Coalition</h1>
</div>
<section class="section-orange-background">
    <div class="container">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center">
            <p>The Fossil Free Research Coalition coordinates efforts to dismantle Big Oil’s toxic influence on the research process across institutions and borders. It includes student and academic activists from Harvard, George Washington, Cambridge, Oxford, Brown Universities, and more. It holds regular online meetings, which are open to anyone looking to get more involved with Fossil Free Research campaigning. </p>
            <p><i>To get involved in the coalition, visit <a href="https://bit.ly/joinfosfreeresearch">bit.ly/joinfosfreeresearch</a></i></p>
            <p><i>To officially endorse the organization, visit <a href="https://bit.ly/endorsefosfreeresearch">bit.ly/endorsefosfreeresearch</a></i></p>
        </div>
    </div>
</section>
<section class="section-white-background">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h3 class="text-center coalition__logos-title">Coalition members and supporters</h3>
            <div class="row">
                {% for logo in home.coalition %}
                    <div class="col-4 col-md-3 col-lg-2 coalition__logos coalition__logos-sm">
                        <img src="{{logo}}" height="auto" width="100%">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>