---
title: Donate
layout: base
permalink: /donate/
eleventyNavigation:
  order: 8
  key: Donate
---

<div
    class="container-fluid d-flex justify-content-center align-items-center hero hero__small"
    style="background-image: url('/assets/images/hero_images/3.png')">
    <h1 class="text-align-center">Donate</h1>
       
</div>
<section class="section-orange-background">
    <div class="container">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center">
            <p>The Partnership Project, a 501(c)(3) non-profit organization, is a coalition of environmental organizations focused on supporting the collaborative efforts of the environmental community. Fossil Free Research is a program of the Partnership Project.</p>
            <p>Make a tax deductible donation to Fossil Free Research:</p>
             <a href="https://secure.actblue.com/donate/fossil-free-research-1" target="_blank">
                    <button
                        type="button"
                        class="btn btn-primary">
                        Donate
                    </div>
                </a>
            </button>
        </div>
    </div>
</section>
