---
title: Media
layout: base
permalink: /media/
eleventyNavigation:
  key: Media
  order: 3
---

<div class="container-fluid d-flex justify-content-center align-items-center hero hero__small">
  <h1 class="text-align-center">Media</h1>
</div>
<section class="section-gray-background">
  <div class="container">
    {% set sectionTitle = "Press Releases" %}
    {% include "title.njk" %}
    <div class="offset-md-2 col-md-8">
      {% for release in home.media.press_releases %}
          <div class="release__card">
            <h5>{{ release.title }}</h5>
            <p>{{ release.excerpt }}"</p>
              <p>
                <a target="_blank" href="{{ release.link }}">Download Release</a>
              </p>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</section>
<section class="section-orange-background">
  <div class="container">
    {% set sectionTitle = "Featured" %}
    {% include "title.njk" %}
    <div class="row">
      {% for featured in home.media.featured %}
        <div class="col-lg-4">
          <div class="coverage__card-featured">
            <img src="{{ featured.logo }}" {% if featured.width %} width="{{ featured.width }}" {% else %} width="100%" {% endif %} height="auto">
              <h5>{{ featured.title }}</h5>
              <p>"{{ featured.excerpt }}"</p>
              <p>
                <a target="_blank" href="{{ featured.link }}">Read More</a>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="section-gray-background">
  <div class="container">
    {% set sectionTitle = "In The News" %}
    {% include "title.njk" %}
    <div class="row">
      {% for article in home.media.news %}
        <div class="col-md-6 col-lg-4 col-xl-3">
          <a target="_blank" href="{{ article.link }}" class="coverage__card-link-outer-container">
            <div class="card coverage__card">
              <img src="{{ article.logo }}" width="100%" height="auto">
                <p>{{ article.title }}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="section-orange-background">
    <div class="container">
      {% set sectionTitle = "Op-Eds" %}
      {% include "title.njk" %}
      <div class="row">
        {% for article in home.media.opeds %}
          <div class="col-md-4 col-lg-3">
            <a target="_blank" href="{{ article.link }}" class="coverage__card-link-outer-container">
              <div class="card coverage__card">
                <img src="{{ article.logo }}" width="100%" height="auto">
                  <p>{{ article.title }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>