---
title: Principles
layout: base
permalink: /principles/
eleventyNavigation:
  key: Principles
  parent: About
  order: 4
---

<div class="container-fluid d-flex justify-content-center align-items-center hero hero__small">
    <h1 class="text-align-center">Principles</h1>
</div>

<section class="section-orange-background">
    <div class="container">
        <div class="offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            {% set sectionTitle = "What we believe" %}
            {% include "title.njk"%}

                    <p>
                        <strong>Climate change is causing untold harm.</strong>
                        Climate change is both an existential threat to humanity and a driver of injustice at every level, with impacts already
                        being felt across the world, disproportionately by marginalized communities.</p>
                    <p>
                        <strong>The time to act is now.</strong>
                        Tackling climate change requires an immediate and just energy transition away from fossil fuels, centering the interests
                        of those communities most heavily impacted by the climate crisis.
                    </p>
                    <p>
                        <strong>The fossil fuel industry impedes climate action.</strong>
                        The fossil fuel industry and allied interests disseminate false and misleading information to portray themselves as
                        climate-conscious actors despite maintaining business models reliant upon the extraction of fossil fuel for decades to
                        come.</p>
                    <p>
                        <strong>Higher education is a crucial site for changemaking.</strong>
                        Universities are influential cultural institutions that produce the knowledge we use to inform climate solutions and
                        cultivate the minds of the next generation.</p>
                    <p>
                        <strong>The fossil fuel industry is strengthened by its ties to higher education.</strong>
                        Oil and gas companies attach themselves to esteemed institutions to greenwash their reputations and gain undue
                        credibility. When universities agree to partner with the fossil fuel industry they bolster the industry’s social license
                        to operate while contradicting their espoused commitments to climate action and promises of bright futures for their
                        students.</p>
                    <p>
                        <strong>Fossil fuel-funded research is an especially dangerous and underexplored mode of industry influence.</strong>The
                            fossil fuel industry’s business model, predicated on rejecting the realities of the climate crisis and the dissemination
                            of climate misinformation, is fundamentally incompatible with academic principles of free inquiry and the pursuit of
                            truth. Despite this inherent conflict of interest, climate-related research funded by the fossil fuel industry continues
                            to influence climate policy and the surrounding climate discourse to the benefit of industry interests. For far too long
                            this form of industry influence has been largely ignored.
                    </p>
                    <p>
                        <strong>We need Fossil Free Research now.</strong>
                        For academic institutions to realize their potential and duty for climate leadership, they must unequivocally reject
                        fossil fuel industry funding, especially for climate-related research, and implement Fossil Free Research policies.
                    </p>

                    <img src="/assets/images/uoft.png" width="100%" class="mission__image">
            </div>
        </div>
    </div>
</section>
<section class="section-gray-background">
    <div class="container">
        <div class="offset-xl-1 col-xl-10">
            {% set sectionTitle = "Why we unite" %}
            {% include "title.njk"%}
            <div class="row">
                <div class="col-lg-6">
                    <img src="/assets/images/harvard.png" width="100%">
                </div>
                <div class="col-lg-6">
                    <p>
                        <strong>Together, we can win.</strong>
                        The past and ongoing success of the divestment movement shows that when students, academics, and community members come
                        together and collaborate across campuses they can win change even at the world’s wealthiest universities.</p>
                    <p>
                        <strong>We center those most impacted by the climate crisis.</strong>
                        Everyone is threatened by climate change and the fossil fuel industry’s deadly core business model, although such
                        threats disproportionately harm marginalized communities. Global North fossil fuel companies unjustly extract wealth
                        from the Global South, and so Global North universities have a particular moral duty to reject the money of an industry
                        driving climate breakdown. This reality requires an approach to climate action rooted in building coalitions and
                        collective power, with more privileged actors leveraging their privilege in service of and taking leadership from those
                        on the front lines.
                    </p>
                    <p>
                        <strong>We believe in decentralized, grassroots change.</strong>
                        Students, academics, and community members know their own campuses best. A broad grassroots coalition offers the best
                        change-making capacity, united and supported by a central organization to enable continuity beyond any single student’s
                        graduation.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-white-background">
    <div class="container">
        <div class="offset-xl-1 col-xl-10">
            {% set sectionTitle = "How we make change" %}
            {% include "title.njk"%}
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        <strong>Strengthening our coalition.</strong>
                        We engage, build relationships with, and develop the skills of fellow students, academics, and community members.</p>
                    <p>
                        <strong>Taking action.</strong>
                        We support taking action to expose the illegitimacy of the fossil fuel industry, and show that it is unwelcome in our
                        educational institutions.</p>
                    <p>
                        <strong>Framing the conversation.</strong>
                        We foster critical public discourse around the fossil fuel industry’s infiltration of higher education and the dangers
                        it entails.
                    </p>
                    <p>
                        <strong>Standing in solidarity.</strong>
                        We build alliances with communities most affected by the corporations that our universities wrongly continue to see as
                        reputable partners. While research funding is at stake at wealthy institutions, people’s very lives and livelihoods are
                        at risk around the world due to the actions of the fossil fuel industry. International solidarity is the just response
                        to this injustice.</p>
                </div>
                <div class="col-lg-6">
                    <img src="/assets/images/bridge.png" width="100%">
                </div>
            </div>
        </div>
    </div>
</section>