---
title: Privacy Policy
layout: base
permalink: /privacy-policy/
---

<div class="container-fluid d-flex justify-content-center align-items-center hero hero__small" style="background-image: url('/assets/images/hero_images/1.png')">
    <h1 class="text-align-center">Privacy Policy</h1>
</div>
<section>
    <div class="container">
        <div class="offset-xl-2 col-xl-8">
            <p>
                FOSSIL FREE RESEARCH PRIVACY POLICY


Last updated: May 15, 2023
 
Introduction
This website, fossilfreeresearch.org, (the “Site”) is operated by Fossil Free Research, a project of The Partnership Project (“FFR,” “We,” or “Us”). 
<p></p>
<p></p>
<p>FFR is a project of The Partnership Project, a 501(c)(3) non-profit. We aim to drive ambitious, durable federal action to cut carbon pollution, address the climate crisis, and accelerate the transition to clean energy with equitable, fair and just policies centered on justice, jobs, health and investment.</p>
<p></p>
<p>We are committed to protecting your privacy online. By providing personal Information to us, you agree to the Terms and Conditions of this Privacy Policy.</p>
<p> </p>
<p>Updates To This Privacy Policy </p>
<p>Please review this privacy policy periodically because we modify it from time to time. Please take a look at the “LAST UPDATED” legend at the top of this page to see when this Privacy Policy was last revised. Any changes to this Privacy Policy will become effective when we post the revised Privacy Policy on the Site.</p>
<p> </p>
<p>Each time you visit this Site or provide us with information through the Site, by doing so you are accepting practices described in the Privacy Policy in effect at that time.</p>
<p></p>
<p></p>
<p>Your Personal Information </p>
<p>“Personal Information” is information that identifies you as an individual, such as:</p>
<p>* Name</p>
<p>* Postal address</p>
<p>* Telephone number</p>
<p>* Email address</p>
<p> </p>
<p>We collect information you give us when you fill out a form, send us an email, sign up to receive email or text message updates, request information, sign a petition, sign up as a volunteer, create an account, participate in a contest or promotion, communicate with us via third party social media sites, or otherwise communicate with us.</p>
<p> </p>
<p>How We Use Personal Information  </p>
<p>We may use Personal Information: </p>
<p>* To respond to your inquiries and fulfill your requests, such as to send you updates by e-mail. For information about how to unsubscribe from certain e-mails, please see the “Choices and Access” section below.</p>
<p>* To communicate with you about FFR. For information about how to unsubscribe from campaign-related telephone contacts, please see the “Choices and Access” section below. </p>
<p>* To send you important information regarding the Site, changes to our Terms of Use, conditions, and policies and/or other administrative information. </p>
<p>* For our own purposes, such as data analysis, enhancing our website, improving our work, identifying usage trends and determining the effectiveness of our efforts.</p>
<p>* As we believe to be necessary or appropriate: (a) under applicable law; (b) to comply with legal process; (c) to respond to requests from public and government authorities; (d) to enforce our terms and conditions; (e) to protect our operations; (f) to protect our rights, privacy, safety or property, and/or that of you or others; and (g) to allow us to pursue available remedies or limit the damages that we may sustain.</p>
<p> </p>
<p>How Personal Information Is Disclosed </p>
<p>Your Personal Information may be disclosed:</p>
<p>* To organizations, groups or causes that we believe have similar viewpoints, principles or objectives or share similar goals and with organizations that facilitate communications and information sharing among such groups.</p>
<p>* To third parties when you voluntarily provide such information, or when you use certain services available on the Site (for example, signing petitions). We urge you to be very careful when deciding to disclose your Personal Information or any other information on the Site.</p>
<p>*  To our third-party service providers who provide services such as website hosting, data analysis, order fulfillment, infrastructure provision, IT services, customer service, email delivery services, auditing services and other similar services to enable them to provide services.</p>
<p>* As we believe to be necessary or appropriate: (a) under applicable law; (b) to comply with legal process; (c) to respond to requests from public and government authorities; (d) to enforce our terms and conditions; (e) to protect our operations; (f) to protect our rights, privacy, safety or property, and/or that you or others; and (g) to allow us to pursue available remedies or limit the damages that we may sustain.</p>
<p> </p>
<p> </p>
<p>Other Information We Collect  </p>
<p>“Other Information” is any information that does not reveal your specific identity or does not directly relate to an individual, such as: </p>
<p>* Browser information</p>
<p>* Server log files </p>
<p>* Information collected through cookies, pixel tags and other technologies </p>
<p>* Demographic information and other information provided by you </p>
<p>* Aggregated information</p>
<p>How We Collect Other Information </p>
<p>We and our third party service providers may collect Other Information in a variety of ways, including:</p>
<p> </p>
<p>* Through your browser: Certain information is collected by most browsers, such as your Media Access Control (MAC) address, computer type (Windows or Macintosh), screen resolution, operating system version and Internet browser type and version.</p>
<p>* Through server log files: An Internet Protocol (IP) address is a number that is automatically assigned to the computer that you are using by your Internet Service Provider (ISP), and is identified and logged automatically in our server log files whenever a user visits the Site, along with the time of the visit and the page(s) that were visited. We use IP addresses for purposes such as calculating Site usage levels, helping diagnose server problems, and administering the Site.</p>
<p>* Using cookies: Cookies allow a web server to transfer data to a computer for record keeping and other purposes. We and our service providers use cookies and other technologies to, among other things, better serve you with more tailored information and facilitate your ongoing access to and use of the Site, as well as for online tracking purposes.</p>
<p> </p>
<p>If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to decline the use of cookies. To learn more about cookies, please visit http://www.allaboutcookies.org/. If you choose to decline cookies, some or all of the features and functionality of the Site may not be available to you.</p>
<p> </p>
<p>* Using embedded images, pixel tags and other similar technologies: We may use embedded images or pixel tags (also known as web beacons and clear GIFs) in connection with some Site pages and email messages to, among other things, track the actions of Site users and email recipients, measure the success of our marketing campaigns and compile statistics about Site usage and response rates.</p>
<p> </p>
<p>URLs contained in emails contain an ID that enables us to identify Site users who take an action using a page from the Site, and we may use these URLs to simplify the process of signing petitions and completing surveys. We may occasionally present a shortened URL that references a longer URL that contains an ID.</p>
<p> </p>
<p>We do this to simplify the display, to prevent links from becoming broken when copied, and to ensure compatibility with email programs that do not handle long URLs. When a shortened URL is displayed in an email, you will see the full URL in the browser’s address bar when you access the page.</p>
<p> </p>
<p>* From you: We may collect demographic information such as your location, as well as other information, such as your preferred means of communication, when you voluntarily provide this information to us. Unless combined with Personal Information, this information does not personally identify you or any other user of the Site.</p>
<p>* By aggregating information: We may aggregate Personal Information so that the end-product does not personally identify you or any other user of the Site, for example, by using Personal Information to calculate the percentage of our users who have a particular telephone area code. Aggregated Personal Information does not personally identify you or any other user of the Site.</p>
<p> </p>
<p>How We Use And Disclose Other Information</p>
<p>Because Other Information does not personally identify you, we may use and disclose Other Information for any purpose. In some instances, we may combine Other Information with Personal Information (such as combining your name with your zip code). If we combine any Other Information with Personal Information, the combined information will be treated by us as Personal Information as long as it is combined.</p>
<p> </p>
<p>We use reasonable organizational, technical and administrative measures to protect Personal Information under our control. Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure.</p>
<p> </p>
<p>If you have reason to believe that your interaction with us is no longer secure, please immediately notify us of the issue by contacting us in accordance with the “Contacting Us” section below.</p>
<p></p>
<p></p>
<p>Choices And Access </p>
<p>We give you many choices regarding our use and disclosure of your Personal Information. You may opt out from:</p>
<p> </p>
<p>* Receiving campaign or marketing-related emails from us: If you no longer want to receive campaign or marketing-related emails from us on a going-forward basis, you may email info@fossilfreeresearch.org.</p>
<p> </p>
<p>We will try to comply with your request(s) as soon as reasonably practicable.</p>
<p>Please note that if you opt out as described above, we will not be able to remove your Personal Information from the databases of unaffiliated third parties with which your Personal Information has already been shared (i.e., to which were already provided your Personal Information as of the date that we implement your opt out request).</p>
<p> </p>
<p>Please also note that if you do opt out of receiving marketing-related messages from us, we may still send important administrative messages to you, and you cannot opt out from receiving administrative messages.</p>
<p>How You May Access Or Change Your Personal Information</p>
<p>If you would like to review or update your Personal Information that has been previously provided to us, you may contact us at info@fossilfreeresearch.org.</p>
<p> </p>
<p>In your request, please make clear what information you would like to have changed. We will try to comply with your request as soon as reasonably practicable. We are not responsible for changing information from the databases of third parties with whom we have already shared your Personal Information.</p>
<p> </p>
<p>Third-Party Sites </p>
<p>This Privacy Policy does not address, and we are not responsible for, the privacy, information, or other practices of any third parties, including any third party operating any site to which this Site contains a link. The inclusion of a link on the Site does not imply endorsement of the linked site by us or by any related organization.</p>
<p> </p>
<p>Use Of Site By Minors</p>
<p>The Site is not directed to individuals under the age of 13, and we request that these individuals do not provide Personal Information through the Site.</p>
<p> </p>
<p>We do not knowingly, directly or passively, collect information from children under the age of 13. To respect the privacy of children and to comply with the Children's Online Privacy Protection Act, children under the age of 13 should not provide any Personal Information on this Site. We ask that parents supervise their children while online.</p>
<p> </p>
<p>Jurisdictional Issues</p>
<p>The Site is controlled and operated by us from the United States and is not intended to subject us to the laws or jurisdiction of any state, country, or territory other than that of the United States.</p>
<p></p>
<p></p>
<p>Contacting Us </p>
<p>If you have any questions about this Privacy Policy, please contact us at info@fossilfreeresearch.org.</p>
<p> </p>
<p>Please note that email communications are not always secure, so please do not include sensitive information in your messages to us.</p>
<p> </p>
<p>________________</p>
<p>FOSSIL FREE RESEARCH TERMS OF USE</p>
<p></p>
<p></p>
<p>Last updated: May 15, 2022</p>
<p>​</p>
<p>Introduction </p>
<p>This website, fossilfreeresearch.org, (the “Site”) is operated by Fossil Free Research, a project of The Partnership Project (“FFR,” “We,” or “Us”).</p>
<p> </p>
<p>FFR is a project of The Partnership Project, a 501(c)(3) non-profit. We are a coalition of climate experts and university members working to end the toxic influence of the fossil fuel industry on higher ed and climate change research. </p>
<p></p>
<p></p>
<p>By logging into this website and using the Site, you agree to be legally bound to by this Terms of Use (collectively, “Terms”). You also agree to be bound by other legal notices that may be posted on this Site from time to time, including our Privacy Policy. If you do not agree with, or cannot comply with, the Terms, Privacy Policy, or other legal notices, then you may not use the Site.</p>
<p> </p>
<p>Updates To The Terms</p>
<p>Please review these Terms periodically because We modify them from time to time to better reflect changes to the law, regulatory requirements, or the Site itself.</p>
<p> </p>
<p>Please look at the “LAST UPDATED” legend at the top of this page to see when these Terms were last revised. Any changes to these Terms will become effective when We post the revised Terms on the Site.</p>
<p> </p>
<p>Each time you visit this Site or provide Us with information through the Site, by doing so you are accepting practices described in the Terms in effect at that time.</p>
<p> </p>
<p>Intellectual Property Rights </p>
<p>All copyright and other rights in and to the computer programs, computer applications, web applications, database programs, web content files and all written, graphic, audio and audiovisual works incorporated into and utilized on or a part of the Site will be and remain the sole and exclusive property of FFR (“FFR Intellectual Property”). You may not copy, modify, publish, transmit, distribute, perform, display, or sell any such FFR Intellectual Property.</p>
<p> </p>
<p>Privacy Policy </p>
<p>Our Privacy Policy explains how We treat your personal data and protect your privacy when you use the Site. By using the Site, you agree that We can use such data in accordance with our Policy, which may be updated periodically and is incorporated into these Terms by reference.</p>
<p> </p>
<p>Use Of The Site </p>
<p>The purpose of the website is to highlight the work of FFR and recruit new members into our coalition. We do so by:</p>
<p> </p>
<p>* Providing key information about the Fossil Free Research movement through press releases, news stories, etc.</p>
<p>* Highlighting the work of our coalition members by uplifting the Fossil Free Research campaigns happening around the world.</p>
<p>* Making it easy to join the coalition as an individual or group.</p>
<p>* Providing access to our Open Letter, signed by hundreds of leading academics from around the world. </p>
<p>* Highlighting our Steering Committee, Advisory Committee, and Staff. </p>
<p> </p>
<p>You may not sell or offer to sell access to Site, make any commercial use of the Site, or information that you obtain in the course of using Site.</p>
<p> </p>
<p>You agree not to use the Site to:</p>
<p> </p>
<p>* forward personally identifiable information about any person to any other person;</p>
<p>* engage in advertising to, or solicitation of, any other persons to buy, or sell any product or services, including posting advertisements and/or solicitations of business;</p>
<p>* use this Site in a manner inconsistent with any and all applicable laws and regulations of any country;</p>
<p>* impersonate any person or entity, real of fictitious, or falsely state or otherwise misrepresent your affiliation with a person or entity;</p>
<p>* stalk, abuse (or attempt to abuse), or otherwise harass another person;</p>
<p>* make unauthorized use of any FFR trademarks or service marks;</p>
<p>* upload, post, e-mail or otherwise transmit or create any content that contain any viruses, Trojan horses, worms, spyware, time bombs, cancel bots or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information;</p>
<p>* upload, post, email or otherwise transmit any unsolicited or unauthorized advertising, or promotional materials, that are in the nature of "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation;</p>
<p>* interfere with or disrupt the Site or Site servers or networks connected to the Site, or disobey any requirements, procedures, policies or regulations of networks connected to the Site; </p>
<p>* attempt to gain unauthorized access to any other person’s account or password;</p>
<p>* include links to personal or commercial web pages and/or websites that we, in our sole discretion, deem incompatible with the goals and/or philosophy of FFR;</p>
<p>* provide information that you know is false or misleading;</p>
<p>* post or provide links to your or other persons’ passwords;</p>
<p>* post or provide links to information relating to circumventing this Site's or any other website's protected software; or </p>
<p>* post links to expressly solicit personal information from anyone under the age of 18.</p>
<p> </p>
<p>Limitation On Liability</p>
<p>We reserve the right to interrupt the operation of Site, or your use of the Site, with or without prior notice for any reason or no reason.</p>
<p> </p>
<p>You agree that FFR will not be liable for interruption of Site or for its delay or failure to perform. We assume no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, telephone system or communications lines failures, or theft or destruction or unauthorized access to, or alteration of, user communications.</p>
<p> </p>
<p>We are not responsible for any problems or technical malfunction of any telephone network or lines, computer systems, servers or providers, computer equipment, software, failure of email systems on account of technical problems or traffic congestion on the Internet or at any site or combination thereof, including injury or damage to users of Site or to any other person's phone or computer related to or resulting from participating or downloading materials in connection with Site.</p>
<p> </p>
<p>Except where restricted or prohibited, in no event will We be liable to you or any third person for any indirect, consequential, exemplary, incidental, special or punitive damages, including lost profits arising from your participation in Site or use of the Site, or of our termination of your account, even if We have been advised of the possibility of such damages.</p>
<p> </p>
<p>You understand that we cannot and do not guarantee or warrant that files available for downloading from the internet or the Website will be free of viruses or other destructive code. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for anti-virus protection and accuracy of data input and output, and for maintaining a means external to our site for any reconstruction of any lost data.</p>
<p> </p>
<p>TO THE FULLEST EXTENT PROVIDED BY LAW, WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES, OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA, OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE WEBSITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT, OR ON ANY WEBSITE LINKED TO IT.</p>
<p> </p>
<p>YOUR USE OF THE SITE, ITS CONTENT, AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE SITE IS AT YOUR OWN RISK. THE SITE, ITS CONTENT, AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE SITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED.  </p>
<p> </p>
<p>WE DO NOT MAKE ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY, OR AVAILABILITY OF THE SITE.  WITHOUT LIMITING THE FOREGOING, WE DO NOT REPRESENT OR WARRANT THAT THE SITE, ITS CONTENT, OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE SITE WILL BE ACCURATE, RELIABLE, ERROR-FREE, OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT THE SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR THAT THE SITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE SITE WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.</p>
<p> </p>
<p>TO THE FULLEST EXTENT PROVIDED BY LAW, WE DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY, OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR PARTICULAR PURPOSE.  THE FOREGOING DOES NOT AFFECT ANY WARRANTIES THAT CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</p>
<p> </p>
<p>Jurisdictional Issues</p>
<p>The Site is controlled and operated by us from the United States and is not intended to subject us to the laws or jurisdiction of any state, country or territory other than that of the United States.</p>
<p> </p>
<p>Contacting Us</p>
<p>If you have any questions about this Terms of Use, please contact us at info@fossilfreeresearch.org.</p>
<p> </p>
<p>Please note that email communications are not always secure, so please do not include sensitive information in your messages to us.</p>
<p>​</p>
<p>Fossil Free Research Alerts</p>
<p>By signing up and entering my telephone number to receive campaign alerts, I consent to receive and authorize FFR to send SMS text messages.</p>
<p>​</p>
<p>1. This program will send promotional messages to users who register through our organization’s website or subscribe via the shortcode. </p>
<p>2. You can cancel the SMS service at any time. Just text "STOP" to the short code. After you send the SMS message "STOP" to us, we will send you an SMS message to confirm that you have been unsubscribed. After this, you will no longer receive SMS messages from us. If you want to join again, just sign up as you did the first time and we will start sending SMS messages to you again. If you need help, just text "HELP" or contact info@fossilfreeresearch.org.  </p>
<p>3. If you are experiencing issues with the messaging program you can reply with the keyword HELP for more assistance, or you can get help directly at info@fossilfreeresearch.org.  </p>
<p>4. Carriers are not liable for delayed or undelivered messages. </p>
<p>5. As always, message and data rates may apply for any messages sent to you from us and to us from you. Message frequency varies. If you have any questions about your text plan or data plan, it is best to contact your wireless provider. </p>
<p>6. If you have any questions regarding privacy, please read our privacy policy above.</p>
</p>
        </div>
    </div>
</section>