---
title: Take Action
layout: base
permalink: /take-action/
eleventyNavigation:
  order: 7
  key: Take Action
---

<div
    class="container-fluid d-flex justify-content-center align-items-center hero hero__small"
    style="background-image: url('/assets/images/hero_images/4.png')">
    <h1 class="text-align-center">Take Action</h1>
</div>
<section>
    <div class="container">
        <div class="offset-md-1 col-md-9 offset-lg-3 col-lg-6">
            <div class="row take-action__action-container">
                <div class="col-2 d-md-block d-none">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>1</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <p>
                        <strong class="d-md-none">1.
                        </strong>Join the Fossil Free Research international organizing coalition by signing up
                        <a href="https://actionnetwork.org/forms/get-involved-with-fossil-free-research/">here</a>
                        (see the
                        <a href="/coalition">coalition page for more information</a>)</p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2 d-md-block d-none">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>2</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <p>
                        <strong class="d-md-none">2.
                        </strong>Join or start a campaign fighting for Fossil Free Research on your college campus or at your research institution</p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2 d-md-block d-none">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>3</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <p>
                        <strong class="d-md-none">3.
                        </strong>
                        Investigate your university or research institution’s funding and partnerships with oil and gas giants (visit <a href="/resources">our
                        Resources page for tips</a> and share your findings with us via email/on social media)</a>
                </p>
            </div>
        </div>
        <div class="row take-action__action-container">
            <div class="col-2 d-md-block d-none">
                <div class="take-action__list-number d-flex justify-content-center align-items-center">
                    <span>4</span>
                </div>
            </div>
            <div class="col-md-10">
                <p>
                    <strong class="d-md-none">4.
                    </strong>Email academics at your institution to sign the Fossil Free Research open letter
                    <a href="/letter">here</a>
                </p>
            </div>
        </div>
        <div class="row take-action__action-container">
            <div class="col-2 d-md-block d-none">
                <div class="take-action__list-number d-flex justify-content-center align-items-center">
                    <span>5</span>
                </div>
            </div>
            <div class="col-md-10">
                <p>
                    <strong class="d-md-none">5.
                    </strong>Write an op-ed calling for Fossil Free Research at your institution
                </p>
            </div>
        </div>
        <div class="row take-action__action-container">
            <div class="col-2 d-md-block d-none">
                <div class="take-action__list-number d-flex justify-content-center align-items-center">
                    <span>6</span>
                </div>
            </div>
            <div class="col-md-10">
                <p>
                    <strong class="d-md-none">6.
                    </strong>Follow
                    <a href="http://twitter.com/fosfreeresearch">@FosFreeResearch</a>
                    on Twitter, and and @FossilFreeResearch on <a href="http://instagram.com/FossilFreeResearch">Instagram</a> and <a href="http://facebook.com/FossilFreeResearch">Facebook</a> for updates</p>
            </div>
        </div>
    </div>
</div></section>