---
layout: base
permalink: /take-action/
eleventyNavigation:
  key: Take Action
---

<div class="container-fluid d-flex justify-content-center align-items-center hero hero__small">
    <h1 class="text-align-center">Take Action</h1>
</div>
<section>
    <div class="container">
        <div class="offset-md-1 col-md-9 offset-lg-3 col-lg-6">
            <div class="row take-action__action-container">
                <div class="col-2">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>1</span>
                    </div>
                </div>
                <div class="col-10">
                    <p>Join the Fossil Free Research international organizing coalition by signing up
                        <a href="http://bit.ly/joinfosfreeresearch">here</a>. (see the coalition page for more
                                                        information)</p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>2</span>
                    </div>
                </div>
                <div class="col-10">
                    <p>Join or start a campaign fighting for Fossil Free Research on your college campus or at your research institution</p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>3</span>
                    </div>
                </div>
                <div class="col-10">
                    <p>Email academics at your institution to sign the Fossil Free Research open letter at bit.ly/signfosfreeresearch</p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>4</span>
                    </div>
                </div>
                <div class="col-10">
                    <p>Write an op-ed calling for Fossil Free Research at your institution
                    </p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>5</span>
                    </div>
                </div>
                <div class="col-10">
                    <p>Follow @FosFreeResearch on Twitter for updates</p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>6</span>
                    </div>
                </div>
                <div class="col-10">
                    <p>Support the following campus-based Fossil Free Research petitions…</p>
                </div>
            </div>
        </div>
    </div>
</section>