---
title: Take Action
layout: base
permalink: /take-action/
eleventyNavigation:
  order: 6
  key: Take Action
---

<div class="container-fluid d-flex justify-content-center align-items-center hero hero__small" style="background-image: url('/assets/images/hero_images/4.png')">
    <h1 class="text-align-center">Take Action</h1>
</div>
<section>
    <div class="container">
        <div class="offset-md-1 col-md-9 offset-lg-3 col-lg-6">
            <div class="row take-action__action-container">
                <div class="col-2 d-md-block d-none">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>1</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <p>
                        <strong class="d-md-none">1.
                        </strong>Join the Fossil Free Research international organizing coalition by signing up
                        <a href="http://bit.ly/joinfosfreeresearch">here</a>
                        (see the
                        <a href="/coalition">coalition page for more information</a>)</p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2 d-md-block d-none">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>2</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <p>
                        <strong class="d-md-none">2.
                        </strong>Join or start a campaign fighting for Fossil Free Research on your college campus or at your research institution</p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2 d-md-block d-none">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>3</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <p>
                        <strong class="d-md-none">3.
                        </strong>Email academics at your institution to sign the Fossil Free Research open letter
                        <a href="http://bit.ly/signfosfreeresearch">here</a>
                    </p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2 d-md-block d-none">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>4</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <p>
                        <strong class="d-md-none">4.
                        </strong>Write an op-ed calling for Fossil Free Research at your institution
                    </p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2 d-md-block d-none">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>5</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <p>
                        <strong class="d-md-none">5.
                        </strong>Follow
                        <a href="http://twitter.com/fosfreeresearch">@FosFreeResearch</a>
                        on Twitter for updates</p>
                </div>
            </div>
            <div class="row take-action__action-container">
                <div class="col-2 d-md-block d-none">
                    <div class="take-action__list-number d-flex justify-content-center align-items-center">
                        <span>6</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <p>
                        <strong class="d-md-none">6.
                        </strong>Support the following campus-based Fossil Free Research petitions:</p>
                    <ul>
                        <li class="bullet-point">
                            <a href="https://sunrisegw.org/sign-the-petition">GW</a>
                        </li>
                        <li class="bullet-point">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdf7qLbVgOdDbBMm_I0WLM40ZbbJSbofcDGl1UhOtatW9Re1g/viewform">Stanford</a>
                        </li>
                        <li class="bullet-point">
                            <a href="https://www.divestharvardalumni.com/sign-1">Harvard alumni</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>