.footer {
    font-size: 0.875rem;
    padding: $SCALE-3 0 $SCALE-5;
    .footer__contact-us {
        @media (min-width: $lg) {
            padding-right: $SCALE-1;
        }
    }
    background-color: #424d68;
    h2,
    p {
        color: white;
    }
    p {
        font-size: 17px;
    }
}

.footer__social-icons {
    margin: $SCALE-2 0;
    a {
        text-decoration: none;
    }

    span {
        color: white;
        margin-right: 10px;
        font-size: 20px;
        &:hover {
            color: $orange;
        }
    }
}