//--------------------
// SCSS VARIABLES
//--------------------
$container-max-width: 1200px;

// Colors
//
// Grayscale.

$gray-darkest: #373a3c;
$gray-dark: #55595c;
$gray: #818a91;
$gray-light: #eceeef;
$gray-lightest: #f7f7f9;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Times New Roman', Georgia, Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Andale Mono', 'Courier New',
    monospace;
$font-family-base: $font-family-sans-serif;

$font-size-root: 100%;
$font-size-base: 1rem;
$line-height: 1.625;


// Misc Shared
//
// common shared styles

$spacing-x: 2rem;
$spacing-y: 2rem;

$box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
$box-shadow-elevated: 0 6px 12px 0 rgba(0, 0, 0, 0.1);

$border-radius: 0.25rem;

$BASE_UNIT: 100px;

$FONT_NORMAL: 'DM Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
$FONT_HEADINGS: 'Staatliches', 'Space Grotesk', Helvetica Neue, Helvetica, Arial,
    sans-serif;

$RATIO: 1.4;

$SCALE--2: 1rem / $RATIO / $RATIO;
$SCALE--1: 1rem / $RATIO;
$SCALE-0: 1rem;
$SCALE-1: 1rem * $RATIO;
$SCALE-2: 1rem * $RATIO * $RATIO;
$SCALE-3: 1rem * $RATIO * $RATIO * $RATIO;
$SCALE-4: 1rem * $RATIO * $RATIO * $RATIO * $RATIO;
$SCALE-5: 1rem * $RATIO * $RATIO * $RATIO * $RATIO * $RATIO;

$COLOR_LIGHTER: #eaeaea;
$COLOR_LIGHT: #ccc; // Do not use for text color
$COLOR_MID: #767676; // Min contrast on white to pass WCAG2 AA
$COLOR_DARK: #333;

/* bootstrap media queries */
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1300px;

$orange: #ffa903;

@mixin smooth-transition {
    -webkit-transition: all 0.25s; /* Safari and Chrome */
    -moz-transition: all 0.25s; /* Firefox */
    -ms-transition: all 0.25s; /* IE 9 */
    -o-transition: all 0.25s; /* Opera */
    transition: all 0.25s;
}

@mixin fast-transition {
    -webkit-transition: all 0.15s; /* Safari and Chrome */
    -moz-transition: all 0.15s; /* Firefox */
    -ms-transition: all 0.15s; /* IE 9 */
    -o-transition: all 0.15s; /* Opera */
    transition: all 0.15s;
}
