/*==================*/
/*----  LETTER  ----*/
/*==================*/
#letter__sign-the-letter-btn {
}

/*==================*/
/*----  COVERAGE  ----*/
/*==================*/

.coverage__card-link-outer-container {
    @include smooth-transition;
    &:hover {
        opacity: 1;
    }
}

.release__card {
    background-color: white;
    padding: $SCALE-2 $SCALE-3 $SCALE-3;
    margin-bottom: $SCALE-1;
}

.card {
    background-color: white;
    padding: $SCALE-1 $SCALE-2 $SCALE-2;
    margin-bottom: $SCALE-1;
    border: none;
    @include smooth-transition;
    img {
        margin: $SCALE-1 0;
        padding: $SCALE-1;
        @media(max-width: $md) {
            width: 50%;
            margin: 0 auto;
        }
    }
    p {
        text-decoration: underline white;
    }
}

.coverage__card {
    &:hover {
        p {
            color: $orange;
            text-decoration: underline;
        }
    }
}

.coverage__card-featured {
    background-color: white;
    padding: $SCALE-2 $SCALE-3 $SCALE-3;
    margin-bottom: $SCALE-2;
    img {
        margin: $SCALE-1 auto $SCALE-2;
        @media (max-width: $lg) {
            width: 50%;
        }
        display: block;
    }

    h4 {
        margin-bottom: 5px
    }
}

/*==================*/
/*----  RESOURCES  ----*/
/*==================*/

.resources__embed {
    margin-bottom: $SCALE-4;
}

.resources__embed h3 {
    margin-bottom: $SCALE-1;
}

.accordion-button {
    font-weight: bold;
}

/*==================*/
/*----  COALITION  ----*/
/*==================*/

.coalition__buttons {
    button {
        margin: $SCALE-1;
    }
}

.coalition__logos-title {

}

.coalition__logos {
    margin-top: $SCALE-2;
}

.coalition__logos-lg {
    justify-content: space-evenly;
}

.coalition__logos-sm {

}


/*==================*/
/*----  TAKE ACTION  ----*/
/*==================*/

.take-action__action-container {
    @media (min-width: $md) {
        margin-bottom: $SCALE-2;

    }
}

.take-action__list-number {
    background-color: $orange;
    width: 70px;
    height: 70px;
    color: white;
    border-radius: 100%;

    span {
        font-family: $FONT_HEADINGS;
        font-size: 3rem;
    }
}


/*==================*/
/*----  ABOUT  ----*/
/*==================*/

$bio-container-padding: 30px;

.col-bio {
	margin-bottom: 30px;
}

.bio-container {
	@include smooth-transition;
	height: 100%;
	padding: $bio-container-padding;
	background-color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	@media (min-width: $md) {
		flex-direction: row;
		text-align: left;
	}
}

.bio-image-container {
	object-fit: cover;
	margin: 0 auto 20px;
	@media (min-width: $md) {
		width: auto;
		margin-right: $bio-container-padding;
	}
}

.bio-image {
	border-radius: 1000px;
	width: 75px;
	height: 75px;
}

.bio-content {
	width: 100%;
}

.bio-title {

}

.bio-position {
	font-weight: bold;
}

.bio-text {

}

/*==================*/
/*----  MISSION  ----*/
/*==================*/
.mission__image {
    margin-top: $SCALE-2;
}