.btn-primary {
    background-color: $orange;
    font-family: $FONT_HEADINGS;
    text-transform: uppercase;
    font-size: $SCALE-2;
    border: none;
    border-radius: 0;
    padding: 10px 30px;
}

.section-title-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .section-title-bar {
        background-color: $orange;
        width: $SCALE-4;
        height: 5px;
        margin: 0 20px;
    }
}

.section-gray-background {
    background-color: #fbfbfb;
}

.section-orange-background {
    background-color: #fffaf0;
}

.section-dark-blue-background {
    background-color: #424d68;
}

.bullet-point {
    list-style-type: disc;
    margin-bottom: 5px;
    margin-left: $SCALE-2;
    text-decoration: underline;
}
